
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand m-2" routerLink="/allreadingmaterial">Reading Materials</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/allreadingmaterial">View All Reading Material </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/books"> View All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/magazines">View All Magazines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addbooks">Add Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/addmagazines">Add Magazines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/searchbooks">Search Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/searchmagazines">Search Magazines</a>
              </li>
            
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>